<h1 class='page_specific_header'>Dining</h1>
<% @stores.each do |store| %>
<div class='store ui segment'>
  <%= link_to store.name, store_path(store) %><br>
  Level: <%= store.level %><br>
  <%= store.classification %><br>
</div>
<% end %>