<% @stores.each do |store| %>
<div class='store_container ui segment'>
  <%= link_to store.name, store_path(store) %><br>
  Level: <%= store.level %><br>
  <%= store.classification %><br>
</div>
<% end %>