<div class='page_specific_header'>
  <h1>Stores#index</h1>
</div>

<% @stores.each do |store| %>
<div class='ui segment'>
  <%= store.name %><br>
  Level: <%= store.level %><br>
  <%= store.classification %><br>
</div>
<% end %>