<div class='page_specific_header'>
  <h1>Stores of Mario Kingdom</h1>
</div>

<% @stores.each do |store| %>
<div class='ui segment store'>
  <%= link_to store_path(store) do %>
  <%= store.name %><br>
  Level: <%= store.level %><br>
  <%= store.classification %><br>
  <% end %>
</div>
<% end %>