<h1>Stores#index</h1>
<p>Find me in app/views/stores/index.html.erb</p>


<% @stores.each do |store| %>
<div class='ui segment'>
  <%= store.name %><br>
  Level: <%= store.level %><br>
  <%= store.classification %><br>
</div>
<% end %>