// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "semantic-ui";

body, html {
  height: 100%;
}

  // sidebar 

body > div.ui.red.vertical.demo.sidebar.menu {
  width: 150px !important;
  margin-left: -150px !important;
}

body > div.ui.red.vertical.demo.sidebar.menu.active {
  margin-left:  0px !important;
}

.two_words {
  display: inline-block;
  font-size: 90%;
}

  // welcome page

#index {
  width:100%;
  height: 100%;
  background-image: url("shopping.jpg");
}

  // stores page

#stores_header {
  float: right;
  padding-top: 0.5em;
  margin-right: 80%;
}