// Place all the styles related to the stores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.store_container {
  position: relative;
  top: 2em;
}

.ui.segment.store {
  margin-left: 5%;
  margin-right: 5%;

}