
  
    <div class="ui red vertical demo sidebar menu">
      <a class="item">
        <%= semantic_icon('home') %>
        Welcome
      </a>
      <a class="active item">
        <i class="heart icon"></i>
        Stores
      </a>
      <a class="item">
        <i class="facebook icon"></i>
        Social
      </a>
    </div>
  </div>

  <div class='ui button' id="sidebar">sidebar</div>
  <p>
    welcome
    stores 
    dining
    food promos
    whats new
    map
    hours
    gift card
    social
    employment
    movies
    notices
    directions
    contest
    settings
  </p>
